[submodule "src/grbl"]
	path = src/grbl
	url = https://github.com/grblHAL/core
[submodule "src/eeprom"]
	path = src/eeprom
	url = https://github.com/grblHAL/Plugin_EEPROM
[submodule "src/sdcard"]
	path = src/sdcard
	url = https://github.com/grblHAL/Plugin_SD_card
[submodule "src/motors"]
	path = src/motors
	url = https://github.com/grblHAL/Plugins_motor
[submodule "src/trinamic"]
	path = src/trinamic
	url = https://github.com/terjeio/Trinamic-library
[submodule "src/bluetooth"]
	path = src/bluetooth
	url = https://github.com/grblHAL/Plugins_Bluetooth/
[submodule "src/spindle"]
	path = src/spindle
	url = https://github.com/grblHAL/Plugins_spindle/
[submodule "src/laser"]
	path = src/laser
	url = https://github.com/grblHAL/Plugins_laser/
